:root{
--color-primary: #f4877d;
--color-secondary: #4f70b5;
--color-black: #000000;
--color-grey: #979797;
--color-white: #ffffff;
--color-red:#ff0000; 
--font-size: 1.6rem;

--font-family:"Poppins", sans-serif ;
} 

html {
    box-sizing: none;
    font-size: 62.5%;
}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 2rem;
}

.container {
  text-align: center;
  
}

.heading {
    font-size: 5rem;
    font-weight: 400;
}

.heading span {
    color: var(--color-red);
}

 div form{
    display: flex;
    justify-content: center;

}

.form-right{
    padding-left: 10rem;
}

.form-right h2 {
    padding-top: 5rem;
    font-size: 4rem;
    margin: 5px;
}

.form-right h3 {
    margin: 3px;
    font-family: var(--font-family);
    font-weight: 30;
    font-size: 15px;
    text-align: left;
}

.red {
    color: var(--color-red);
    padding-bottom: 2rem;
}

.form-right span {
    margin: 1rem;
    border-radius: 5px;
    border-style: solid;
    padding: 1rem 6rem 1rem 6rem;
    border-color: var(--color-grey);
    border-width: 2px;
    font-family: var(--font-family);

}

.form-right span :hover 
{
    border-color: var(--color-primary);
}
.form-right h2 {
    text-align: left;
    font-family: var(--font-family);
    
}

.fa-brands {
    margin-right: 6px;
}

.facebook {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.or {
    padding-top: 4rem;
    font-size: 3rem;
}

.input {
    text-align: left;
}

.box {
    border-radius: 5px;
    border-style: solid;
    padding: 1rem 6rem 1rem 15px;
    border-color: var(--color-grey);
    border-width: 2px;
    margin: 0;

}

.box:hover {
    border-color: var(--color-primary);
} 

.fa-regular{
    margin-right: 8px;
}

.fa-solid {
    margin-right: 8px;
}

.box2{
    border-radius: 5px;
    border-style: solid;
    padding: 1rem 6rem 1rem 15px;
    border-color: var(--color-grey);
    border-width: 2px;
    margin: 0;

}

.password {
    border-radius: 5px;
    border-style: solid;
    padding: 1rem 6rem 1rem 15px;
    border-color: var(--color-grey);
    border-width: 2px;
    margin: 0;
}

.password:hover{
    border-color: var(--color-primary);
}

.submmit{
    padding-top: 3rem;
    font-size: 2rem;
    font-weight: 2rem;
    border-radius: 5px;
    border-style: solid;
    padding: 1rem 6rem 1rem 15px;
    border-color: var(--color-grey);
    border-width: 2px;
    margin: 0;
    margin-top: 3rem;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.submmit:hover {
 border-color: var(--color-primary);
}